@charset "utf-8";

html {
	height:100%;
}
body {
	margin:0;
	height: 100%;
	background-color:#FFF;
	    width: 1342px;
}
.header {
  height: 70px;
  background-color: #FFF;
  border-bottom: 1px solid #dddddd;
}

.same {
	float: left;
  	padding-left:60px;
  	padding-right:60px;
	color:#ED7000;
  	font-size:30px;
}
h1 {
	margin:0;
	text-align: center;
	color:#1E90FF;
	font-family:Monotype Corsiva;	
	font-size:60px;
}
h2{
	margin-top: 0px;
	float:right;
	width: 680px;
	text-align: center;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
h2 span{
	text-align: center;
}
ul.subtitle {
	float:left;
	margin-top:0px;
	font-family:Palatino Linotype;
	width:680px;
}	
.maincontents > .selects {
	display:none;
	margin:0;
	width: 213.36px;
	position: absolute;
	top: 70px;
	left: 714px;
}
.maincontents > .selects li a {
	display:block;
	padding:5px 0;
	color:#808080;
}
.maincontents > .selects li {
    position: relative;
	height: 30px;
    padding: 20px 30px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
#side {
	width:100%;
	height:70px;

}
#side > ul {
	float:right;
	margin:0;
	padding:0;
}
#side > ul > li{ 
	float: left;
	height: 30px;
    padding: 20px 30px;
    border-left: 1px solid #dddddd;
}
#side > ul > li:last-child {
	border-right: 1px solid #dddddd;
}
#side > ul > li >a{
	float: left;
	vertical-align:middle;
  	padding-right: 30px;
	padding-left:30px;
 	color:#808080;
}

.same h1 small{
	font-size:20px;
}
.topmain {
	width:100%;
	height:100%;
}
#topvisuals img{
	margin-bottom:20px;
	width:100%;
	margin:0;
}
#topvisuals .introduction{
	clear: both;
}
#side strong {
	color:#000080;
}
.textmain{
	float:left;
	text-align: center;
	background-color:#bbdbf3;
	width:680px;
	margin-bottom:20px;	
	border-top:1px solid #B0E0E6;
	border-right:1px solid #4682B4;
	border-bottom:1px solid #4682B4;
	border-left:1px solid #E0FFFF;
}
.textmain strong{
	background: linear-gradient(transparent 30%, #FFFF00 30%);
}
.subvisuals {
	float:right;
	width:680px;
	text-align: center;
	margin-bottom:40px;
}
.subvisuals p {
	display:inline;
}
.subvisuals img {
	width:32%;
}
.about {
	width:680px;
	float:right;
}
/*
.selects {
	display:none;
	margin: 0 auto;
	width: 680px;
	float:right;
}
*/
#escort-ship-title {
	margin: 0 auto;
	width: 680px;
	float:right;
}
#mother-ship-title .selects ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
	width:680px;
}
#mother-ship-title li {
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
	list-style: none;
}
#mother-ship-title li a {
	display: block; 
	border: 1px solid #666;
	background-color: #ccc;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 100px; 
	margin: 1px;
	text-align: center;
	vertical-align:middle;
	font-size: 14px;
	overflow:hidden;
	height:3em;
}
#mother-ship-title li a:hover{
background-color: #2d56be;
color: #fff;
}
#escort-ship-title ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
	width:680px;
}
#escort-ship-title li {
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}
#escort-ship-title li a{
	display: block; 
	border: 1px solid #666;
	background-color: #ccc;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 100px; 
	margin: 1px;
	text-align: center;
	vertical-align:middle;
	font-size: 14px;
	overflow:hidden;
	height:3em;
}
#escort-ship-title li a:hover{
	background-color: #2d56be;
	color: #fff;
}
.linkMain {
	float:right;
	width:680px;
}
#link {
	width:680px;
	float:left;
}
#link ul {
	list-style-type: none;
	padding:0;
}
#link li {
	display:inline-block;
	margin: 5px;
}
#link img {
	dispay:inline-block;
}
.contents{
	float:right;
	width:680px;
	text-align:center;
	margin-bottom:20px;
}
.selects {
	width:680px;
	float:right;
}
.selects ul {
	list-style: none;
	display: inline;
	
}
.contents img{
	text-align: center;
}
.contentsText {
	float:right;
	background-color:#bbdbf3;
	width:680px;
	margin-bottom:20px;	
	text-align: center;
	border-top:1px solid #B0E0E6;
	border-right:1px solid #4682B4;
	border-bottom:1px solid #4682B4;
	border-left:1px solid #E0FFFF;
	
}
.contentText p{
	text-align: center;
}
.contentTitle {
	width:680px;
}
.contentsTitle h2 {
	float:right;
	text-align: center;
	font-family:Monotype Corsiva;
	font-size:50px;
	border-top:2px dotted #191970;
	width:680px;
	margin-top: 20px;
	padding-top: 20px;
}
.contentsText strong{
	font-size:20px;
	font-family:HiraMinProN-W6;	
	background: linear-gradient(transparent 40%, #FFFF00 40%);
}
.linkTitle h2{
	float:left;
	text-align: center;
	font-family:Monotype Corsiva;
	font-size:40px;
	border-bottom:2px dotted #191970;
	margin-top:0px;
}
.quwstionnaire {
	width:680px;
	float:right;
}
.mw {
	text-align: center;
	margin-bottom:20px;
}
.character {
	text-align: center;
	margin-bottom:20px;
}
.message {
	text-align: center;
	margin-bottom:20px;
}
.formmain {
	width:690px;
	background-color:#bbdbf3;
	border-top:1px solid #B0E0E6;
	border-right:1px solid #4682B4;
	border-bottom:1px solid #4682B4;
	border-left:1px solid #E0FFFF;
}
.submit {
	text-align: center;
	margin-bottom:20px;
}
.thanks{
	width:680px;
	float:right;
}
.thanks-images {
	text-align: center;
	margin-bottom:20px;
}
.thanks-images2 {
	text-align: center;
	margin-bottom:20px;
}
.thanks-images2 img {
	width: 20%;
}
.thanks-text {
	text-align: center;
	margin-bottom:20px;
}





.lines-on-sides {
  display: table;
  text-align: center;
  white-space: nowrap;
}
.lines-on-sides:after, .lines-on-sides:before {
  content: '';
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
  background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
  -webkit-background-clip: padding;
  background-clip: padding;
}
.lines-on-sides:after {
  border-left: 1em solid transparent;
}
.lines-on-sides:before {
  border-right: 1em solid transparent;
}